:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color-scheme: light dark;

  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #ffffff;
  background-color: #121212;
  --accent: #1A936F;
}


body {
  margin-top: 1rem;
  display: flex;
  min-width: 320px;
  min-height: 100vh;
}

h1 {
  font-size: 3.2em;
  line-height: 1.1;
}

hr {
  border: 0;
  border-top: 3px solid var(--accent);
  margin: 2rem 0;
}


a {
  color: var(--accent);
  text-decoration: none;
}

.file-viewer {
  padding: 2rem;
  border: 5px dotted var(--accent);
  border-radius: 1rem;
}

p {
  margin: 1rem 0;
}

button {
  padding: 0.5rem 1rem;
  border: 0;
  border-radius: 0.5rem;
  background-color: var(--accent);
  color: white;
  cursor: pointer;
}

@media (prefers-color-scheme: light) {
  :root {
    color: black;
    background-color: peachpuff;
    --accent: #916953;
  }
}
